:root {
  --jet: #353535;
  --green: #82b5a5;
  --blue: #9fbfff;
  --white: #ffffff;
  --pink: #f9d9eb;
  --orange-yellow: #f8cf61;
  --red: #f36b7f;
}
.navbar {
  background-color: var(--pink);
}

#login-btn,
#sign-up-btn,
.see-more-btn,
#comment-btn,
.edit-btn {
  background-color: var(--red);
  border: var(--pink);
}

#login-btn:hover,
#sign-up-btn:hover,
.see-more-btn:hover,
#comment-btn:hover,
.edit-btn:hover {
  background-color: #f68e9d;
}

#logout-btn,
.delete-btn,
.add-post-btn,
.edit-post-btn,
.edit-comment-btn {
  background-color: var(--red);
  color: white;
  border: var(--pink);
}

#logout-btn:hover,
.delete-btn:hover,
.add-post-btn:hover,
.edit-post-btn:hover,
.edit-comment-btn:hover {
  background-color: #f68e9d;
  color: white;
}

#nav-link:hover {
  color: var(--red);
  font-weight: bolder;
}

#sign-up-link {
  text-decoration: none;
  color: var(--blue);
}
#sign-up-link:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.card-top {
  background-color: var(--blue) !important;
}

.card-bottom {
  background-color: var(--blue) !important;
}

.comment-link {
  color: var(--pink);
}

.comment-link:hover {
  color: var(--pink);
}

@media screen and (min-width: 1201px) {
  .signup-form {
    margin-top: 7% !important;
    width: 60% !important;
  }
  .login-form,
  .empty-dashboard,
  .empty-home {
    margin-top: 10% !important;
    width: 50% !important;
  }
}

@media screen and (max-width: 1200px) {
  .signup-form {
    margin-top: 10% !important;
    width: 75% !important;
  }
  .login-form {
    margin-top: 15% !important;
    width: 70% !important;
  }
}

@media screen and (max-width: 780px) {
  .signup-form {
    margin-top: 15% !important;
    width: 80% !important;
  }

  .login-form {
    margin-top: 20% !important;
    width: 80% !important;
  }

  .logo {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .signup-form {
    margin-top: 20% !important;
    width: 90% !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
