:root {
  --jet: #363732;
  --grey: #b2bdbd;
  --fern: #537953;
  --hunter: #3a553a;
  --sea: #86ac86;
}

body {
  background-color: var(--jet);
}
.navbar {
  background-color: var(--fern);
}

#login-btn,
#sign-up-btn,
.see-more-btn,
#comment-btn,
.edit-btn {
  background-color: var(--hunter);
  border: var(--fern);
}

#login-btn:hover,
#sign-up-btn:hover,
.see-more-btn:hover,
#comment-btn:hover,
.edit-btn:hover {
  background-color: var(--sea);
}

#logout-btn,
.delete-btn,
.add-post-btn,
.edit-post-btn,
.edit-comment-btn {
  background-color: var(--hunter);
  color: white;
  border: var(--fern);
}

#logout-btn:hover,
.delete-btn:hover,
.add-post-btn:hover,
.edit-post-btn:hover,
.edit-comment-btn:hover {
  background-color: var(--sea);
  color: white;
}

#nav-link:hover {
  color: var(--sea);
  font-weight: bolder;
}

#sign-up-link {
  text-decoration: none;
  color: var(--hunter);
}
#sign-up-link:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.card-top {
  background-color: var(--sea) !important;
}

.card-bottom {
  background-color: var(--grey) !important;
}

.comment-link {
  color: var(--fern);
}

.comment-link:hover {
  color: var(--fern);
}

@media screen and (min-width: 1201px) {
  .signup-form {
    margin-top: 7% !important;
    width: 60% !important;
  }
  .login-form,
  .empty-dashboard,
  .empty-home {
    margin-top: 10% !important;
    width: 50% !important;
  }
}

@media screen and (max-width: 1200px) {
  .signup-form {
    margin-top: 10% !important;
    width: 75% !important;
  }
  .login-form {
    margin-top: 15% !important;
    width: 70% !important;
  }
}

@media screen and (max-width: 780px) {
  .signup-form {
    margin-top: 15% !important;
    width: 80% !important;
  }

  .login-form {
    margin-top: 20% !important;
    width: 80% !important;
  }

  .logo {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .signup-form {
    margin-top: 20% !important;
    width: 90% !important;
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
